<div class="container">

  <div class="row">
    <h3 class="display-5 mb-5">Veterinarias</h3>
  </div>


  {{#distritos}}
  <div class="row mb-5">

    <div class="row col col-md-12">
      <h5 class="display-5 mb-5 d-block">{{distrito}}</h5>
    </div>


    <div class="card-columns">
      {{#vets}}
      <div class="card" style="max-width:18rem;">
        <img src="{{image_url}}" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">{{vet_id.name}}</h4>
          <a href="/vets/{{vet_id._id}}" class="btn btn-primary"><i class="fas fa-comment-alt"></i> Opina</a>
        </div>
      </div>
      {{/vets}}
    </div>

  </div>
  {{/distritos}}

</div>