<div class="container">

  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <h3 class="font-weight-dark">Veterinarias</h3>
    <p class="text-warning">¿No encuentras tu veterinaria?,<a href="/contact" class="text-warning"> Dime cuál es</a></p>

  </div>

  {{#distritos}}

  <h5 class="font-weight-light">{{distrito}}</h5>
  <hr class="mt-1 mb-4">

  <div class="row mb-5">
    {{#vets}}
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-1">
      <div class="card">
        <img src="{{image_url}}" class="card-img-top">
        <div class="card-body py-2">
          <div class="row justify-content-center">
            <a href="/vets/{{_id}}" class="btn btn-link">{{name}} </a>
          </div>
        </div>
      </div>
    </div>
    {{/vets}}
  </div>


  {{/distritos}}

</div>