<div class="container">
  <div class="row">
    <div class="col-lg-8">
      {{#each posts}}
      <div>
        <h1 class="mb-0">{{title}}</h1>
        <p class="lead"> por Enanos </p>
        <p>Publicado el {{postDate timestamp}}</p>
        <img class="img-fluid rounded" src="{{image_url}}" alt="Post image">
        <p class="my-2">{{content}}</p>
      </div>
      <hr class="mb-5">
      {{/each}}
    </div>
    <div class="col-md-4">
      {{#isAdmin user.role}}
      <div class="card my-4">
        <h5 class="card-header">Nuevo post</h5>
        <div class="card-body">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" data-toggle="modal" data-target="#postModal">Agrega un
                nuevo post</button>
            </span>
          </div>
        </div>
      </div>
      {{/isAdmin}}
      <div class="card my-4">
        <h5 class="card-header">Frase</h5>
        <div class="card-body">
          <blockquote class="blockquote">
            <p class="mb-0">“Until one has loved an animal, a part of one’s soul remains unawakened.”</p>
            <footer class="blockquote-footer">
              <cite title="Source Title">Anatole France</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Nuevo Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/post" method="POST" id="postForm" enctype="multipart/form-data">
          <div class="form-group">
            <label class="font-weight-bold">Título</label>
            <input type="text" name="title" class="form-control" placeholder="Inserta el título">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Contenido</label>
            <textarea name="content" class="form-control" placeholder="Inserta el contenido.." rows="3"></textarea>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Imágen</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input inputGroupFile">
                <label class="custom-file-label">Selecciona la imágen</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="postForm" class="btn btn-primary">Publicar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>