body {
  padding-top: 5rem;

  /* UI Gradients */
  background: #ECE9E6;
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
  background: linear-gradient(to left, #FFFFFF, #ECE9E6); 

  /* Google Fonts */
  font-family: 'Comfortaa', cursive;
}

/* Fade out number imput spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}


.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}