<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-4">

      <div class="card">
        <div class="card-header d-flex justify-content-center">
          <h3 class="font-weight-light my-auto">Contáctame</h3>
        </div>
        <div class="card-body">
          {{#if user}}
          <form action="/contact/opinion" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label class="font-weight-bold">Nombre</label>
              <input type="text" name="name" class="form-control" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Mensaje</label>
              <textarea class="form-control" name="message" placeholder="Ingresa tu mensaje.." rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              <i class="fas fa-envelope"></i> Enviar
            </button>
          </form>
          {{else}}
          <div class="card-text">
            <p><a href="/users/login">Ingresa</a> o <a href="/users/signup">regístrate</a> y ponte en contacto.</p>
          </div>
          {{/if}}
        </div>
      </div>

    </div>
  </div>
</div>