<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-4">
      <div class="card mt-4">

        <div class="card-header d-flex justify-content-center">
          <h3 class="font-weight-light my-auto">Nueva veterinaria</h3>
        </div>

        <div class="card-body">

          <form action="/admin/add-vet" method="POST" enctype="multipart/form-data">

            <div class="form-group">
              <label class="font-weight-bold">Nombre</label>
              <input type="text" name="name" class="form-control" placeholder="Nombre de la veterinaria">
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Dirección</label>
              <input type="text" name="address" class="form-control" placeholder="Dirección de la veterinaria">
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Distrito</label>
              <div class="input-group">
                <select class="custom-select" name="district">
                  <option selected>Elige...</option>
                  <optgroup label="Lima">
                    <option value="Ancón">Ancón</option>
                    <option value="Carabayllo">Carabayllo</option>
                    <option value="Comas">Comas</option>
                    <option value="Los Olivos">Los Olivos</option>
                    <option value="Puente Piedra">Puente Piedra</option>
                    <option value="San Martín de Porres">San Martín de Porres</option>
                  </optgroup>
                  <optgroup label="Callao">
                    <option value="Callao">Callao</option>
                    <option value="Ventanilla">Ventanilla</option>
                  </optgroup>
                </select>
              </div>
            </div>



            <div class="form-group">
              <label class="font-weight-bold">Imágen</label>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input inputGroupFile">
                  <label class="custom-file-label">Elegir imágen..</label>
                </div>
              </div>
            </div>


            <button type="submit" class="btn btn-primary btn-block">
              <i class="fas fa-cloud-upload-alt"></i> Subir
            </button>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>