<div class="container">

  <div class="row justify-content-center">

    <div class="col col-md-4">

      <table class="table table-hover table-ligh table-bordered">

        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{#each vets}}
          <tr>

            <td><a href="{{image_url}}" class="btn btn-link" target="_blank">{{name}}</a></td>
            <td>

              <a class="btn btn-outline-info dropdown-toggle" href="#" role="button" id="dropdownVetEditLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-edit"></i>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownVetEditLink">

                <a class="dropdown-item btn-edit-vet-image" href="#" data-toggle="modal"
                  data-target="#modalVetImage">Editar
                  imágen</a>

                <a class="dropdown-item btn-edit-vet-data" href="#" data-toggle="modal"
                  data-target="#modalVetData">Editar
                  datos</a>

              </div>

              <a href="/admin/delete-vet/{{_id}}" class="btn btn-outline-info"><i class="fas fa-trash-alt"></i></a>
            </td>

          </tr>
          {{/each}}
        </tbody>

      </table>

    </div>
  </div>
</div>


<!-- modal to update vet image-->
<div class="modal fade" id="modalVetImage" tabindex="-1" role="dialog" aria-labelledby="modalVetImageLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVetImageLabel">Actualiza la imágen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/update-vet-image" method="POST" id="vetImageForm" enctype="multipart/form-data">
          <input type="hidden" id="update_vet_image" name="vet_id" value="">
          <div class="form-group">
            <label class="font-weight-bold">Imágen</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input inputGroupFile">
                <label class="custom-file-label">Selecciona la imágen</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="vetImageForm" class="btn btn-primary">
          <i class="fas fa-cloud-upload-alt"></i> Subir
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- modal to update vet data-->
<div class="modal fade" id="modalVetData" tabindex="-1" role="dialog" aria-labelledby="modalVetDataLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVetDataLabel">Actualiza los datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/update-vet-data" method="POST" id="vetDataForm">
          <input type="hidden" id="update_vet_data" name="vet_id" value="">
          <div class="form-group">
            <label class="font-weight-bold">Nombre</label>
            <input type="text" name="name" class="form-control" placeholder="Nombre de la veterinaria">
          </div>

          <div class="form-group">
            <label class="font-weight-bold">Dirección</label>
            <input type="text" name="address" class="form-control" placeholder="Dirección de la veterinaria">
          </div>

          <div class="form-group">
            <label class="font-weight-bold">Distrito</label>
            <div class="input-group">
              <select class="custom-select" name="district">
                <option selected>Elige...</option>
                <optgroup label="Lima">
                  <option value="Ancón">Ancón</option>
                  <option value="Carabayllo">Carabayllo</option>
                  <option value="Comas">Comas</option>
                  <option value="Los Olivos">Los Olivos</option>
                  <option value="Puente Piedra">Puente Piedra</option>
                  <option value="San Martín de Porres">San Martín de Porres</option>
                </optgroup>
                <optgroup label="Callao">
                  <option value="Callao">Callao</option>
                  <option value="Ventanilla">Ventanilla</option>
                </optgroup>
              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="submit" form="vetDataForm" class="btn btn-primary">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>