<!-- modal for update vet image-->
<div class="modal fade" id="modalVetImage" tabindex="-1" role="dialog" aria-labelledby="modalVetImageLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVetImageLabel">Actualiza la imágen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/update-vet-image" method="POST" enctype="multipart/form-data">
          <input type="hidden" id="update_vet_image" name="vet_id" value="">
          <div class="form-group">
            <label>Imágen</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input inputGroupFile">
                <label class="custom-file-label">Elegir imágen</label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-cloud-upload-alt"></i> Subir
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- modal for update vet data-->
<div class="modal fade" id="modalVetData" tabindex="-1" role="dialog" aria-labelledby="modalVetDataLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVetDataLabel">Actualiza los datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/update-vet-data" method="POST">
          <input type="hidden" id="update_vet_data" name="vet_id" value="">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="name" class="form-control" placeholder="Nombre de la veterinaria">
          </div>

          <div class="form-group">
            <label>Dirección</label>
            <input type="text" name="address" class="form-control" placeholder="Dirección de la veterinaria">
          </div>

          <div class="form-group">
            <label>Distrito</label>
            <div class="input-group">
              <select class="custom-select" name="district">
                <option selected>Elige...</option>
                <optgroup label="Lima">
                  <option value="Ancón">Ancón</option>
                  <option value="Carabayllo">Carabayllo</option>
                  <option value="Comas">Comas</option>
                  <option value="Los Olivos">Los Olivos</option>
                  <option value="Puente Piedra">Puente Piedra</option>
                  <option value="San Martín de Porres">San Martín de Porres</option>
                </optgroup>
                <optgroup label="Callao">
                  <option value="Callao">Callao</option>
                  <option value="Ventanilla">Ventanilla</option>
                </optgroup>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="fas fa-pencil-alt"></i> Editar
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="row justify-content-center">
    <div class="col col-md-6">

      <table class="table table-hover table-light table-bordered">

        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{#each vets}}
          <tr>

            <td>{{vet_id.name}}</td>
            <td>
              {{!-- watch a tag --}}
              <a href="{{image_url}}" class="btn" target="_blank"><i class="fas fa-eye"></i></a>


              {{!-- edit dropdown a tag --}}
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-edit"></i>
              </a>
              {{!-- edit dropdown content --}}
              <div class="dropdown-menu btn-edit-general" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalVetImage">Editar
                  imágen</a>
                <a class="dropdown-item btn-edit-data" href="#" data-toggle="modal" data-target="#modalVetData">Editar
                  datos</a>
              </div>


              {{!-- delete a tag --}}
              <a href="/admin/delete-vet/{{vet_id._id}}" class="btn"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>

      </table>

    </div>
  </div>
</div>